<mat-card class="todo-item" [class.todo-item--done]="todo().completed" appearance="outlined">
  <mat-card-content class="todo-item__main">
    <mat-checkbox
      class="todo-item__check"
      [checked]="todo().completed"
      [attr.aria-label]="'Toggle ' + todo().title"
      (change)="toggleCompleted.emit(todo().id)"
    />

    <div class="todo-item__content">
      <a class="todo-item__title" [routerLink]="['/', todo().id]">{{ todo().title }}</a>

      @if (todo().description) {
        <p class="todo-item__description">{{ todo().description }}</p>
      }

      <mat-chip-set class="todo-item__meta" aria-label="Todo metadata">
        <mat-chip
          class="todo-item__priority"
          [class.todo-item__priority--low]="todo().priority === TodoPriority.LOW"
          [class.todo-item__priority--medium]="todo().priority === TodoPriority.MEDIUM"
          [class.todo-item__priority--high]="todo().priority === TodoPriority.HIGH"
        >
          {{ todo().priority }}
        </mat-chip>

        @if (todo().category) {
          <mat-chip>{{ todo().category }}</mat-chip>
        }

        @if (todo().dueDate) {
          <mat-chip>Due {{ todo().dueDate | date: 'mediumDate' }}</mat-chip>
        }
      </mat-chip-set>
    </div>
  </mat-card-content>

  <mat-card-actions class="todo-item__actions" align="end">
    <app-todo-actions [todoId]="todo().id" (remove)="remove.emit(todo().id)" />
  </mat-card-actions>
</mat-card>
