<form class="todo-filters" [formGroup]="form" novalidate>
  <mat-form-field class="todo-filters__search" appearance="outline" subscriptSizing="dynamic">
    <mat-label>Search</mat-label>
    <input
      matInput
      id="todo-search"
      type="search"
      formControlName="search"
      autocomplete="off"
      placeholder="Title or content"
    />
  </mat-form-field>

  <mat-form-field class="todo-filters__field" appearance="outline" subscriptSizing="dynamic">
    <mat-label>Priority</mat-label>
    <mat-select id="todo-priority-filter" formControlName="priority">
      <mat-select-trigger>
        @if (form.controls.priority.value === 'ALL') {
          {{ form.controls.priority.value | todoPriorityLabel }}
        } @else {
          <span
            class="priority-pill"
            [appTodoPriority]="form.controls.priority.value"
          >
            {{ form.controls.priority.value | todoPriorityLabel }}
          </span>
        }
      </mat-select-trigger>
      <mat-option value="ALL">All priorities</mat-option>
      @for (priority of priorities; track priority) {
        <mat-option [value]="priority">
          <span
            class="priority-pill"
            [appTodoPriority]="priority"
          >
            {{ priority | todoPriorityLabel }}
          </span>
        </mat-option>
      }
    </mat-select>
  </mat-form-field>

  <div class="todo-filters__status">
    <span class="todo-filters__label">Status</span>
    <mat-button-toggle-group
      id="todo-completion-filter"
      formControlName="completion"
      aria-label="Status"
      [hideSingleSelectionIndicator]="true"
    >
      <mat-button-toggle value="all">All</mat-button-toggle>
      <mat-button-toggle value="active">To do</mat-button-toggle>
      <mat-button-toggle value="completed">Done</mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <button class="todo-filters__reset" matButton="outlined" type="button" (click)="reset()">
    Reset
  </button>
</form>
